.Logo
  width 50%

.TextLogo
  width 100%

.ImageLogo
  display inline-block
  margin 0.5em
  width 15em
  height 15em
  border-radius 50%
  vertical-align middle
  border 0.2em solid #3D6cb0

.ImageCircle
  width 200px
  height 200px
  background #3D6cb0
  -moz-border-radius 100px
  -webkit-border-radius 100px
  border-radius 100px
  margin auto
  margin-top 18px

.TextLogo p
  text-align center
  margin: 0;

p.Name
  font-size 35px

p.SurName
  font-size 40px
  font-weight bold

p.GraphicDesigner
  font-size 20px




