
.ProfileDelimiter
  vertical-align: middle
  white-space: nowrap
  overflow: hidden

span:after
  content: "";
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  height: 6px;
  width: 100%;
  background: #3d6cb0;
  margin-right: -100%;
  border: solid #fff;
  border-width: 0 10px;

.ImageIcon
  display inline-block
  content ""
  width 60px
  height 60px
  vertical-align middle
  margin-right 5px
  background-size cover
  background-origin border-box;