.WorkingProfile
  width 50%

.ProfileDelimiter
  vertical-align: middle
  white-space: nowrap
  overflow: hidden

span:after
  display inline-block
  content ''
  height 1px
  width 100%
  position relative
  vertical-align middle
  background black
  margin-left 10px
