header-color=#3d6cb0
header-circles-color=#3f6fb6
points-base-color=#e6e6e6

rect()
  display inline-block
  height 45px
  background-color header-color

.software-column
  columns 2
  column-width 550px

.software-column_points
  display inline-block
  height 45px
  background-color points-base-color
  width 555px

.software-column_points_colored_504
  rect()
  width 504px

.software-column_points_colored_390
  rect()
  width 390px
.software-column_points_colored_311
  rect()
  width 311px
.software-column_points_colored_458
  rect()
  width 458px

.software-column_points_colored_342
  rect()
  width 342px