doctype html
html

  body
    div.LeftBlock
      include ./src/Logo.jade
      //include ./src/Profile.jade
      h1 asdasd



    div.RightBlock
      div.Soft
        //img(src="./img/icons.png", class="movie-poster")
        //include ./src/Software.jade

