doctype html
html
  body
    div.LeftBlock
      div.Logotip
        include ./src/Logo.jade
      div.Profile
        include ./src/Profile.jade




    div.RightBlock
      div.Soft
        img(src="./img/icons.png", class="movie-poster")
        //include ./src/Software.jade

