div.Logotip
    div.ImageLogo
        svg
            circle( cx="50%" cy="50%" r="29.5%" fill="none" stroke="#3d6cb0")
            circle( cx="50%" cy="50%" r="25.9%" fill="#3d6cb0")
    div.TextLogo
        p.Name NAME HERE
        p.SurName SURNAME
        p.GraphicDesigner GRAPHIC DESIGNER
