div.WorkingProfile
    div.IconProfile
        img(src="./img/icon1.png", class="ImageIcon")
        span Profile
    div.TextProfile
        p.
            Lorem ipsum dolor sit amet, ad habeo phaedrum ius, an has dicam abhorreant quaerendum.
            Cum liber comprehensam cu. Saepe evertitur eu eam, oporteat temporibus conclusionemque te
            vis, duis essent appareat in eam. Cum ad omnesque noluisse fabellas. Id eum quem modus
            soleat, mei te forensibus reprimique. Omnes diceret utroque ei has, qui case partiendo id.
            Has at sale delectus legendos.
                Vim augue nominavi at. No errem fabulas vis, electram tractatos vel no. Eum ne erant sapientem. No sanctus iudicabit his, noster conceptam ei vis, brute dolores inimicus usu ei.
                Ex fugit meliore pertinacia sea. Cum ut graeco perpetua argumentum, fastidii constituto eu vel. Vel ipsum altera integre te. In magna noster vidisse mel. Te zril euripidis delicatissimi vim.