div.software
    mixin softwarePoints(n)
        div.software-column_points
            div(class='software-column_points_colored_'+ n)
    h1 SOFTWARE
    div.software-column
        div.software-column__photoshop
            h2 PHOTOSHOP
            +softwarePoints(504)
        div.software-column__illustrator
            h2 ILLUSTRATOR
            +softwarePoints(390)
        div.software-column__indesign
            h2 INDESIGN
            +softwarePoints(311)
        div.software-column__dreamweaver
            h2 DREAMWEAVER
            +softwarePoints(458)
        div.software-column__after-effects
            h2 AFTER EFFECTS
            +softwarePoints(342)
        div.software-column__html5css3
            h2 HTML&CSS3
            +softwarePoints(504)